<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="empForm" (ngSubmit)="onAdd()" >
            <div class="row d-flex flex-columnr">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    id= "name" 
                    class="form-control"
                    formControlName="name"
                    required
                    >
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input 
                    type="number"
                    id= "age" 
                    class="form-control"
                    formControlName="age"
                    required
                    pattern="^[1-9]+[0-9]*$"
                    >
                </div>
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input 
                    type="amount" 
                    id= "salary" 
                    class="form-control"
                    formControlName="salary"
                   required
                   pattern="^[0-9]*$"
                    >
                    </div>
            </div>
            <div class="row">
                <button class="btn btn-success" type= "submit" [disabled]="!empForm.valid"> SAVE</button>
            </div>
        </form>
    </div>
</div>

